<a href="https://colab.research.google.com/github/jcms2665/Tools-for-Demography/blob/main/Phyton/Manejo_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**TOOLS FOR DEMOGRAPHY**

## Token y Drive

In [ ]:
# Token para GEE

import ee
from google.colab import auth
auth.authenticate_user()
ee.Authenticate()
ee.Initialize()

In [9]:
# Vincular con Drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

 ## Manejo de Bases de Datos
---

In [ ]:
# Instalaci√≥n de paquetes

!pip install pyreadstat
!pip install simpledbf

In [ ]:
# Cargar paquetes

import os                                 # Directorios
import csv
import matplotlib.pyplot as plt
import numpy as np                        # Data frame
import pandas as pd
import pyreadstat

os.getcwd()

In [22]:
a="/content/drive/MyDrive/28 Bases/TMODULO.csv"
inegi=pd.read_csv(a)
print ('Datos importados:',len(inegi))

Datos importados: 71404

In [27]:
pd.crosstab(inegi.SEXO, inegi.P6_20, inegi.FAC_PER, aggfunc = sum)

P6_20         1         2
SEXO
1      12226863  35661169
2      10942613  42314527